DATABASE_URL=host=localhost user=yours dbname=yours password=yours sslmode=disable
SESSION_KEY=SauYOURS+/OyzRMgSUDmRNT+QqKb+8KgRJVN7Zyours=
GOOGLE_CLIENT_ID=920YOURS1756-48rv3401n268DHbehucko6vtr61ru8t5.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=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
GOOGLE_REDIRECT_URL=http://localhost:8080/callback
APP_ENV=production
PORT=8080


