<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/home.css" />
    <title>Homes</title>
  </head>
  <body>
    <header>
      <h1>InvoiceGO</h1>
      <a class="logout-btn" href="/logout" title="Login"> Login</a>
    </header>

    <main>
      <img
        class="dashboard-img"
        src="/static/images1.jpg"
        alt="images1 Image"
      />

      <a href="/login" class="btn">Login with Google</a>
    </main>

    <footer>&copy; 2026 InvoiceGO. All rights reserved.</footer>
  </body>
</html>
